version: "3.9"

services:
  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mqtt
    restart: unless-stopped
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf
      - ./mosquitto/passwd:/mosquitto/config/passwd
    ports:
      - "1883:1883"  # MQTT
      # - "9001:9001"  # WebSocket MQTT

  flask-api:
    build: ./flask
    container_name: flask-api
    restart: unless-stopped
    environment:
      - MQTT_BROKER=mqtt
      - MQTT_USER=iotuser
      - MQTT_PASSWORD=iotpass
      # - MQTT_PORT=1883
      # - DATABASE_URL=sqlite:///data/database.db
    depends_on:
      - mqtt
    ports:
      - "5000:5000"
    volumes:
      - ./flask/data:/app/data # persist SQLite file

  svelte-ui:
    build: ./svelte
    container_name: svelte-ui
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - flask-api
